
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/IISGeoIP2blockModule.pdb
obj/Debug/IISGeoIP2blockModule.dll
obj/Debug/IisGeoIP2blockModule.csprojAssemblyReference.cache
obj/Debug/IisGeoIP2blockModule.csproj.GenerateResource.cache
obj/Debug/IisGeoIP2blockModule.csproj.FileListAbsolute.txt
obj/Debug/IisGeoIP2blockModule.csproj.CoreCompileInputs.cache
obj/Debug/IisGeoIP2blockModule.csproj.CopyComplete
obj/Debug/IISGeoIP2blockModule.ComboboxItem.resources
obj/Debug/IISGeoIP2blockModule.AddExceptionRuleForm.resources
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Release/Newtonsoft.Json.dll
bin/Release/IISGeoIP2blockModule.pdb
bin/Release/IISGeoIP2blockModule.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/IISGeoIP2blockModule.pdb
bin/Debug/IISGeoIP2blockModule.dll
.vs/IisGeoblockModule/v15/Server/sqlite3/storage.ide-wal
.vs/IisGeoblockModule/v15/Server/sqlite3/storage.ide-shm
.vs/IisGeoblockModule/v15/Server/sqlite3/storage.ide
.vs/IisGeoblockModule/v15/Server/sqlite3/db.lock
.vs/IisGeoblockModule/v15/.suo
.vs/IisGeoblockModule/DesignTimeBuild/.dtbcache
